#!/usr/bin/env bash

export CA_DATA='-----BEGIN CERTIFICATE-----
...
-----END CERTIFICATE-----
'
export SERVER='https://127.0.0.1:8443'
export TOKEN=''

export SERVICE_ID=abc123
export SECURITY_USER_NAME=admin
export SECURITY_USER_PASSWORD=pass

# REG_* settings are optional, for configuring a private docker registry
export REG_SERVER='gcr.io'
export REG_USER='_json_key'
export REG_PASS='{
  "type": "service_account",
  ...
}'
'
export REG_EMAIL='_json_key'

go run main.go
